body {
    margin: 0 auto;
    background-color: black;
}
#playField {
    grid-area: "play";
    background-color: blue;
}
#player {
    background-image: url(img/ship.png);
    width: 144px;
    height: 179px;
    position: absolute;
    bottom: 2%;
    left: 45%;
	z-index: 10;
}
.container {
    display: grid;
    grid-template-areas:
        "leftP play rightP"
        "hp lose points";
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 90vh 10vh;
}

#healthBar {
    grid-area: hp;
    background-color: red;
}

#leftPanel {
    grid-area: leftP;
	display: grid;
	grid-template-areas: 
		"controls"
		"levels";
	grid-template-columns: 100% 100%;
	grid-template-rows: 25% 60%;
	padding-top: 20%;
	width: 10vw;
}
#points {
    grid-area: points;
    background-color: yellow;
}
.text {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	text-align: center;
}
#loseArea {
	grid-area: lose;
	background-color: darkblue;
}
#laser {
	position: absolute;
	background-image: url(img/laser.png);
	width: 36px;
	height: 1014px;
	bottom: 8%;
	left: calc(44% + 72px);
	z-index: 2;
	
	animation-name: shoot;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	opacity: 0.1;
}

@keyframes shoot {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
#levels {
	grid-area: levels;
	display: block;
}

#controls {
	grid-area: controls;
	display: block;
}

#levelOne {
	background-color: #2e7f18;
	height: 2em;
	padding-top: 1em;
	width: 10vw;
	color: wheat;
	text-align: center;
}
#levelOne:hover {
	cursor: pointer;
	background-color: #1e6f08;
}
#levelTwo {
	background-color: #45731e;
	height: 2em;
	padding-top: 1em;
	width: 10vw;
	color: wheat;
	text-align: center;
}
#levelTwo:hover {
	cursor: pointer;
	background-color: #35630e;
}
#levelThree {
	background-color: #675e24;
	height: 2em;
	padding-top: 1em;
	width: 10vw;
	color: wheat;
	text-align: center;
}
#levelThree:hover {
	cursor: pointer;
	background-color: #574e14;
}
#levelFour {
	background-color: #8d472b;
	height: 2em;
	padding-top: 1em;
	width: 10vw;
	color: wheat;
	text-align: center;
}
#levelFour:hover {
	cursor: pointer;
	background-color: #7d371b;
}
#levelFive {
	background-color: #b13433;
	height: 2em;
	padding-top: 1em;
	width: 10vw;
	color: wheat;
	text-align: center;
}
#levelFive:hover {
	cursor: pointer;
	background-color: #a12423;
}
#levelSix {
	background-color: #c82538;
	height: 2em;
	padding-top: 1em;
	width: 10vw;
	color: wheat;
	text-align: center;
}
#levelSix:hover {
	cursor: pointer;
	background-color: #b81528;
}