body {
    margin: 0 auto;
    background-color: black;
}
#playField {
    grid-area: "play";
    background-color: blue;
}
#player {
    background-image: url(img/ship.png);
    width: 144px;
    height: 179px;
    position: absolute;
    bottom: 2%;
    left: 45%;
	z-index: 10;
}
.container {
    display: grid;
    grid-template-areas: 
        "leftP play rightP"
        "hp lose points";
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 90vh 10vh;
}

#healthBar {
    grid-area: hp;
    background-color: red;
}

#leftPanel {
    grid-area: leftP;
}
#points {
    grid-area: points;
    background-color: yellow;
}
.text {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	text-align: center;
}
#loseArea {
	grid-area: lose;
	background-color: darkblue;
}
#laser {
	position: absolute;
	background-image: url(img/laser.png);
	width: 36px;
	height: 1014px;
	bottom: 7%;
	left: calc(44% + 72px);
	z-index: 2;
	opacity: 0;
	animation-name: shoot;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}

@keyframes shoot {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}